:root{
  --alert-win-bg-color: #090909;
  --alert-win-navbar-height: 32px;
  --alert-win-navbar-padding: 3px;
  --alert-win-navbar-c: #999;
  --alert-win-navbar-i-hover-shadow-color: #faa;
  --alert-win-navbar-i-triggered-shadow-color: #aaf;
  --alert-win-content-height: calc(100vh - var(--alert-win-navbar-height) - 2*var(--alert-win-navbar-padding));
  --alert-win-content-padding: 4px;
  --alert-win-content-c: #88888a;
}
