:root {
  --form-btn-bg-color: #232323;
  --form-btn-c: #888;
  --form-btn-height: 36px;
  --form-btn-focus-bg-color: #232323;
  --form-btn-hover-bg-color: #262626;
  --form-btn-active-bg-color: #202020;
  --form-input-bg-color: #000;
  --form-input-border-color: #222;
  --form-input-c: #d70;
  --form-chip-c: #9c9;
  --form-chip-bg-color: #15151f;
}
