

.menu {
	padding:3%;
	text-align: center;
}

.menu .btn-menu{
	border: 3px solid #aaa;
	height: 10em;
	margin: 1em;
	line-height: 10em; 
}


.menu .btn-menu:hover {
	background-color: #f4fff4;
}

.menu .btn-menu:active {
	background-color: #dfd;
}

.search th{
	background-color: #a4f0cd;
	color: black;
	padding:0;
}

input[type=checkbox]{
	opacity: 1;
	position: relative;
	width: 50px;
	line-height: 1.5em;
	display:inline-block;
}

.do-menu{
	display: none;
}