@import "../mixins/utilits", "../variables/cycle-footer.scss";

input[name="cycle"]{
  display: none;

  &:checked + .cycle-tab-container{
    display: block;
  }
}

.cycle-tab-container{
  display: none;
}

.cycles-tab-container{
  background-color: var(--cycle-footer-bg-color);
  border-top: var(--cycle-footer-border-width) solid var(--cycle-footer-border-color);
  user-select: none;
  height: var(--cycle-footer-height);
  line-height: var(--cycle-footer-height);
  width: 100%;
  @include flex-container(row, nowrap, flex-start, stretch, stretch);

  .controll, .scroll-btns{
    flex: initial;
  }

  .controll{
    @include flex-container(row, nowrap, flex-start, stretch, stretch);

    & > div{
      margin-right: 4px;
    }

    #create-cycle:checked + label, #create-cycle:not(:checked) ~ .create-cycle{
      display: none;
    }

    #create-cycle + label{
      padding-left: 4px;
    }

    .create-cycle{
      position: relative;
      background-color: var(--cycle-footer-create-cycle-bg-color);
      height: var(--cycle-footer-height);
      padding: 0 3px;

      input{
        height: 100%;
        background-color: var(--cycle-footer-input-bg-color);
        border: 0;
        color: var(--cycle-footer-create-cycle-c);
        padding: 0 3px;
      }
    }

    .drop{
      position: relative;

      .drop-btn:active + .dropup-content, .drop-btn:focus + .dropup-content, .dropup-content:hover{
        display: block;
      }

      .dropup-content{
        display: none;
        position: absolute;
        background-color: var(--cycle-footer-drop-content-bg-color);
        color: var(--cycle-footer-drop-content-c);
        bottom: calc(var(--cycle-footer-height); + 4px);
        min-width: 120px;
        max-width: 250px;
        max-height: 250px;
        overflow-y: auto;
        border-radius: 3px;
        padding: 3px;

        label{
          display: block;

          &:hover{
            color: var(--cycle-footer-drop-content-label-hover);
          }

          &:active{
            color: var(--cycle-footer-drop-content-label-active);
          }
        }
      }
    }
  }

  .cycles{
    overflow-x: hidden;
    flex: 0px;
    background-color: var(--cycle-footer-cycles-bg-color);
    @include flex-container(row, nowrap, flex-start, stretch, stretch);

    label[for^="cycle-"]{
      background-color: var(--cycle-footer-cycles-label-bg-color);
      color: var(--cycle-footer-cycles-label-c);
      margin-left: 2px;
      flex: auto;
      max-width: 250px;
      min-width: 130px;
      padding: 0 3px;
      overflow: hidden;

      &:hover{
        background-color: var(--cycle-footer-cycles-label-hover-bg-color);
      }

      &:active{
        background-color: var(--cycle-footer-cycles-label-active-bg-color);
      }
    }
  }

  i:hover{
    color: var(--cycle-footer-i-hover-c);
  }

  i:active{
    color: var(--cycle-footer-i-active-c);
  }

}
