html, body, div, p, b, span, i, h, textarea, label, h1, h2, h3, h4, h5, h6, header, a, table ,tr, td, th, tbody, thead, tfoot, input{
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
  text-decoration: none;
}

body{
  background-color: var(--background-color);
  color: var(--font-color);
}

a{
  color: orange;
}

/*Header styles*/
header.header{
  user-select: none;
  overflow: hidden;
  width: 100%;
  box-shadow: var(--header-shadow);
}

header.header .upper{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background: var(--background-color-header1);
}

header.header .upper>b{
  line-height: var(--header-height);
}

header.header .upper>b:last-child i{
  line-height: var(--header-height);
  font-size: 1em;
  margin-right: .5em;
  color: var(--header-arrow-color);
  display:block;
  cursor: pointer;
}

header.header .nav-menu{
  position: absolute;
  z-index: 1000;
  right: .2em;
  display: none;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: var(--header-nav-menu-background-color);
  color: var(--header-nav-menu-font-color);
  max-width: 10em;
  min-width: 4em;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 1px black;
}

header.header .nav-menu.checked{
  display: flex;
}

header.header .nav-menu>b{
  margin-left: .2em;
  padding-left: .3em;
  padding-right: .5em;
  margin-top: .3em;
  margin-bottom: .2em;
  word-wrap: break-word;
  border-left: var(--header-nav-menu-border-left);
  border-bottom-left-radius: 5px;
}

header.header .nav-menu>b:hover{
  border-left: var(--header-nav-menu-border-left-hover);
}

/*Page section*/
section.page{
  overflow-y: hidden;
  width: 100%;
  height: calc(100vh - var(--header-height));
}

section.page .inner-page{
  width: 100%;
  height: calc(100vh - var(--header-height) + 17px);
}

/*menu page*/
section.page .inner-page .page-menu{
  margin: .5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

section.page .inner-page .page-menu a{
  cursor: pointer;
  position: relative;
  margin: 1em;
  padding-right: 1em;
  background-color: #353630;
  border: 1px solid #222;
  border-radius: 8px;
  max-width: calc(var(--page-inner-menu-btn-height) + 14em);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

section.page .inner-page .page-menu a:hover{
  border: 1px solid #a9a;
}

section.page .inner-page .page-menu a img{
  height: var(--page-inner-menu-btn-height);
  min-width: var(--page-inner-menu-btn-height);
  border-radius: 5px;
  margin-right: 1em;
}

section.page .inner-page .page-menu a h3{
  padding-bottom: .3em;
  padding-top: .3em;
  width: calc(100% - 1em - var(--page-inner-menu-btn-height));
  word-spacing: normal;
}

/*table page*/
section.page .inner-page .table-page{}

section.page .inner-page .table-page table{
  display: flex;
  flex-direction: column;
  font-size: 1.2em
}

section.page .inner-page .table-page table td textarea{
  resize: none;
  box-sizing: border-box;
  height: 4.4em;
  background-color: rgba(0, 0, 0, 0);
  color: #ff6666;
  font-size: 1em;
  font-family: Arial;
}

section.page .inner-page .table-page table td span{
  height: 4.4em;
  overflow: hidden;
}

section.page .inner-page .table-page table td:hover span{
  overflow-y: scroll;
}

section.page .inner-page .table-page table label[for^="recordOfId--"] span{
  background-color: #0a0a0a;
}

section.page .inner-page .table-page table thead{
  color: #6f6;
  background-color: #777;
  line-height: var(--table-thead-height);
  flex: inherit;
}

section.page .inner-page .table-page table thead tr:first-child input{
  width: calc(100% - 22px);
  height: 2em;
  border: 1px solid black;
  background-color: #666;
  color: #ccc;
  padding-left: 10px;
  padding-right: 10px;
}

section.page .inner-page .table-page table thead th{
  /*border: 1px solid #7aa;*/
  background-color: #333;
}

section.page .inner-page .table-page table tbody{
  display: block;
  width: 100%;
  color: #f66;
  background-color: #010101;
}

section.page .inner-page .table-page table input[name^="recordOfId-"]{
  display: none;
}

section.page .inner-page .table-page table tbody tr{
  background-color: #131313;
}

section.page .inner-page .table-page table tfoot{
  color: #aaf;
  line-height: var(--table-thead-height);
}

section.page .inner-page .table-page table span{
  display:block;
  word-wrap: break-word;
  word-break: normal;
}

section.page .inner-page .table-page table tfoot tr{
  background-color: #282828;
}

section.page .inner-page .table-page table tbody tr.checkedRecord{
  background-color: rgba(255,255,255, 0.14);
}

/*section page cycles bar*/
body div.cycles-bar{
  display: flex;
  height: 2em;
  line-height: 2em;
}

body div.cycles-bar div.cycles{
  width: calc(100% - 2em);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}

body div.cycles-bar div[class^='datefrom-']{
  flex: auto;
  max-width: 5em;
  min-width: 4em;
  text-align: center;
  display:inline-block;
  padding: 0 5px 0 5px;
  border-right: 2px solid #555;
}

body div.cycles-bar div[class^='datefrom-']:hover{
  color: #a47aff;
}

body div.cycles-bar div[class^='datefrom-']:active{
  color: #b4af99;
}

body div.cycles-bar div.scrollButton{
  width: 2em;
  user-select: none;
  box-shadow: -3px -1px 4px #262626;
}

body div.cycles-bar div.scrollButton i{
  margin: 0 2px 0 2px;
}

body div.cycles-bar div.scrollButton i:hover{
  color: rgba(255, 255, 255, .3);
}

body div.cycles-bar div.scrollButton i:active{
  color: rgba(255, 255, 255, .2);
}

/*colored scroll bar*/
.canscroll-y{
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
}

.canscroll-x{
  overflow-y: hidden;
  overflow-x: scroll;
}

.coloredScroll::-webkit-scrollbar{
  width: .4em;
  height: .4em;
}
.coloredScroll::-webkit-scrollbar-thumb{
  background: rgba(255, 255 ,255, 0.4);
  border-radius: .4em;
}

.coloredScroll::-webkit-scrollbar-corner{
  background-color: var(--background-color);
}

.col-for-setting-width{
  background-color: red;
}
